@model MVC.Models.Candidates
@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm())
{
    <table class="table">
        <thead>

            <tr><td scope="col">@Html.LabelFor(model => model.CandidateID) : </td><td>@Html.TextBoxFor(model => model.CandidateID, new { @class = "form-control" })</td></tr>
            <tr><td scope="col">@Html.LabelFor(model => model.CandidateName) : </td><td>@Html.TextBoxFor(model => model.CandidateName, new { @class = "form-control" })</td></tr>
            <tr><td scope="col">@Html.LabelFor(model => model.ExperienceInYears) : </td><td>@Html.TextBoxFor(model => model.ExperienceInYears, new { @class = "form-control" })</td></tr>
            <tr><td scope="col">@Html.LabelFor(model => model.Qualification) : </td><td>@Html.TextBoxFor(model => model.Qualification, new { @class = "form-control" })</td></tr>
            <tr><td scope="col">@Html.LabelFor(model => model.ActiveDesignation) : </td><td>@Html.TextBoxFor(model => model.ActiveDesignation, new { @class = "form-control" })</td></tr>
            <tr><td scope="col">@Html.LabelFor(model => model.Industry) : </td><td>@Html.TextBoxFor(model => model.Industry, new { @class = "form-control" })</td></tr>
            <tr><td scope="col">@Html.LabelFor(model => model.Status) : </td><td>@Html.TextBoxFor(model => model.Status, new { @class = "form-control" })</td></tr>
            <tr><td scope="col">@Html.LabelFor(model => model.Password) : </td><td>@Html.TextBoxFor(model => model.Password, new { @class = "form-control" })</td></tr>
            <tr><td scope="col">Actions</td><td><input type="submit" value="Delete" class="btn btn-primary" /></td>


        </thead>

    </table>

}
